.navbar{
    padding: 0px;
    position: relative;
    h1{
        margin: 5px 0;
    }
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ccc;
        .right{
            ul{
                li{
                    position: relative;
                    .cart{
                        position: absolute;
                        left: -200px;
                        background-color: #fff;
                    }
                    .lang{
                        position:absolute;
                        z-index: 5;
                        box-shadow: 3px 4px 9px #ccc;
                        border-radius: 2px solid #eee;
                        ul{
                            display: flex;
                            flex-direction: column;
                            background-color: #fff;
                            padding: 0;
                            gap: 0;
                            li{
                                padding: 5px 10px;
                                transition: .4s;
                                &:hover{
                                    background-color: #000;
                                    color: #fff;
                                }
                        }

                        }
                    }
                }
            }
        }
        .mid{
            ul{
                li{
                    font-size: 22px;
                    position: relative;
                    .departments{
                        margin-top: 15px;
                        position: absolute;
                        left: 5%;
                        display: flex;
                        flex-wrap: wrap;
                        width: 200px;
                        z-index: 5;
                        background-color: #fff;
                        box-shadow: 1px 2px 3px #ccc;
                        margin-left: 0;
                        padding: 10px;
                        border-radius: 5px;
                        gap: 0;
                        li{
                            font-size: 14px !important;
                            width: 45%;
                            a{
                                padding: 5px ;
                                transition: .5s;
                                width: 100%;
                                display: block;

                                &:hover{
                                    color: #fff;
                                    background-color: #000;
                                }
                            }

                        }
                    }
                }
            }
        }
        ul{
            display: flex;
            gap: 1rem;
            li{
                position: relative;
                cursor: pointer;
                
                font-size: 10px;
                a{
                    &.active{
                        color: aqua !important;
                    }
                }
                &.menu{
                    display: none;
                }
            }
            .list{
                background-color: #fff;
                position: absolute;
                z-index: 3;
                ul{
                    display: flex;
                    flex-direction: column;
                    padding: 5px 10px;
                    color: #000 !important;
                    a{
                    color: #000 !important;

                    }

                }
            }
        }
    }
}



@media(max-width:760px){
    .mid{
        position: absolute;
        top: -400%;
        left: 0%;
        transition: .4s;
        width: 88%;
        &.active{
        top: 47px;

        }
    
        ul{
            width: 100%;
            display: flex;
            flex-direction: column;
            display: flex;
            flex-direction: column;
            background-color: white;
            z-index: 4;
            position: absolute;
            padding: 20px;
        }
        
    }
    .right{
        ul{
            li{
                &.menu{
                    display: block !important;
                }
            }
        }
    }
}


.close{
    span{
        text-align: end;
        display: block;
        font-size: 30px;
        cursor: pointer;
    }
}
        .cart-box{
            width: 80%;
            margin: auto;
            display: flex;
            border-bottom: 1px solid #ccc;
            border-top: 1px solid #ccc;
            padding: 20px;
            &>*{
                flex: 1;
            }
            .left{
                margin: auto;
    
                img{
                    width: 30% !important;
                    margin: auto;
                    border-radius: 10px;
                    margin-bottom: 10px;
                }
                p{
                    font-size: 12px;
                }
            }
            .right{
                width: 50%;
               ul{
                display: flex;
                flex-direction: column;
                gap: 1rem;
    
                    
               }
            }
        }


.whole-cart-window{
    border: solid lightgray 1px;
    border-top: none;
    position: fixed;
    top: 7vh ;
    background-color: #fff;
    margin-right: 2%;
    z-index: 8;
    right: -2% ;
    padding-bottom: 20px;
    a{
        
        button{
        display: flex;
        margin: auto;
        background-color: #fff;
                color: #444;
                border: 1px solid #ccc;
                padding: 7px 15px;
                border-radius: 10px;
                transition: 0.4s;
                margin: auto;
                display: block;
                cursor: pointer;
                &:hover{
                    background-color: #000;
                    color: #fff;
                }
    }
    }
}
.cart-wrapper{
    overflow-y: auto;
    width:50vw;
    max-height: 350px;
}
.subtotal{
    text-align: right;
    padding:5%;
}
.checkout, .view-cart{
    width:95%;
    text-align: center;
    cursor: pointer;
    background-color: brown;
    font-size: large;
    color: #fff;
    margin:10px auto;
    padding:10px 15px;
}





 .hide{
     display: none;
 }
.non-empty::after{
  content: var(--after-content);
  font-size: 25px;
  width:25px;
  display: inline-block;
  text-align: center;
  position: relative;
  top:-20px;
  right:20%;
  background-color: red;
  border-radius: 50%;
}

.card-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.card-item{
    display: flex;
    flex-direction: column;
    min-width: 500px;
    height:600px;
    justify-content: center;
    align-items: center;
}
.card-item img{
    width:45%;
}
.card-item .details{
    text-align: center;    
}
.card-item p,.card-item h3 {
    margin-top:10px;   
}
.card-item span{
    display: block;
    margin-top:10px;
}
.add-to-cart-btn{
    width: fit-content;
    margin:auto;
    /* margin-top:10px; */
    padding: 10px 15px;
    cursor: pointer;
    background-color: brown;
    border-radius: 3px;
    font-size: large;
    color:#fff
}