.filterProduct{
    width: 90%;
    margin: auto;
    padding: 30px 0;
    .filter-button{
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        .left{
            display: flex;
            gap: 2rem;
        }
        button{
            background-color: #fff;
            border-radius: 5px;
            padding: 5px 10px;
            &:hover{
                background-color: #eee;
                transition: .4s;
            }
        }
    }
    .filter-row{
        padding: 30px 0;
        grid-template-columns: repeat(4,auto);
        display: grid;
        gap: 1rem;
        text-align: center;
     .filter-box{
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        img{
            width: 250px;
            height: 300px;
            border-radius: 10px;
            position: relative;
            top: -35px;
        }
        .filter-info{
            display: flex;
            justify-content: space-between;
            padding: 10px 20px;
            .color{
                display: flex;
                gap: 1rem;
                span{
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    display: block;
                }
            }
        }
    }
    }
}