a{
  text-decoration: none;
}
ul{
  list-style: none;
}
 .container{
  width: 90%;
  margin: auto;
 }
 .dark a{
  color: #fff;
  background-color: inherit;
 }
 .light a{
  color: #000;
 }


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.dark{
  background-color: rgb(17 24 39);
  color: #fff;
}
.dark .box{
  background-color: rgb(31 41 55);
}
.dark .filter-box{
  background-color: rgb(31 41 55);

}
.light{
  background-color: #fff;
  color: #000;
}